body {
    background-color: aliceblue;
}

.category {
    background-color: whitesmoke;
    width: 30%;
    min-width: 250px;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.category h2 {
    margin-bottom: 15px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;  
    gap: 25px; 
    justify-content: center;
    /* align-items: center; */
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 25px;
}

.image-card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.image-card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    
}

.image-card p {
    color: slategray;
    font-size: 14px;
    margin-top: 10px;
}